<p-autoComplete
  [(ngModel)]="texts"
  [suggestions]="results"
  (completeMethod)="search($event)"
  (onKeyUp)="onKeyUp($event)"
  [multiple]="true"
  [unique]="true"
>

  <ng-template let-value pTemplate="selectedItem">
    <span class="ui-autocomplete-token-label filter"
      >{{ value.cont }}: {{ value.code }}</span>
  </ng-template>
  <ng-template let-value pTemplate="itemTemplate">
    <div class="sel">
      <span class="cont"> {{ value.cont }}: </span
      ><span class="text">{{ value.code }} - {{ value.text }}</span>
    </div>
  </ng-template>
</p-autoComplete>
